.backDoor {
  background-color: rgb(59, 0, 0);
  position: relative;
  width: 150px;
  height: 150px;

  margin: 0 auto;
  margin-top: 50px;
}

.door {
  background-color: brown;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 150px;
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 1s ease-in-out;
}
.locker-number{
  font-size: 8rem;
  font-weight: 900;
}

.doorOpen {
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-105deg);
}
