<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista taquillas</title>
    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/jquery.ml-keyboard.css" rel="stylesheet">
    <link href="/css/taquillas.css" rel="stylesheet">
</head>

<body>

    <header th:insert="fragments.html :: header"> </header>
    <div class="container">
        <h3 class="my-4 text-center">Taquillas</h3>
        <table id="myTable" class="table my-4 text-center">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Abrir</th>
                    <th>Cerrar</th>
                    <th>Retiradas</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="element : ${lockersList}">
                    <td th:text="${element.number}"></td>
                    <!--<td><a class="btn btn-success"
                               th:href="@{/locker/open/{number}(number=${element.number})}">Abrir</a></td>-->
                    <td><a class="btn btn-success" th:onclick="'$.get(\'/locker/open/'+${element.number}+'\')'"><svg
                                th:replace="fragments.html :: open_lock"></svg></a></td>
                    <td><a class="btn btn-danger" th:onclick="'$.get(\'/locker/close/'+${element.number}+'\')'"><svg
                                th:replace="fragments.html :: close_lock"></svg></a></td>
                    <!--<td><a class="btn btn-danger"
                               th:href="@{/locker/close/{number}(number=${element.number})}">Cerrar</a></td>-->
                    <td><a class="btn btn-secondary" th:href="@{/withdrawal/list/byLocker/{id}(id=${element.id})}"><svg
                                th:replace="fragments.html :: arrow_icon"></svg></a></td>
                    <td><a class="btn btn-warning" th:href="@{/locker/edit/{id}(id=${element.id})}"><svg
                                th:replace="fragments.html :: edit_icon"></svg></a></td>
                    <td><a class="btn btn-danger" th:href="@{/locker/delete/{id}(id=${element.id})}"
                            th:data-confirm-delete="|¿Seguro que quieres eliminar la taquilla ${element.number}?|"
                            th:onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"><svg
                                th:replace="fragments.html :: delete_icon"></svg></a></td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-primary mx-2" th:href="@{/locker/new}">
                <svg th:replace="fragments.html :: new_icon"></svg>
                Nueva Taquilla</a>
        </div>


    </div>

    <br>
    <br>
    <br>
    <br>


    <div th:replace="fragments.html :: footer"></div>
    <!--   Bootstrap js -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public_scripts/jquery.ml-keyboard.min.js"></script>
    <script src="/public_scripts/keyboard_button.js"></script>
    <script src="/private_scripts/table.js"></script>
    <script>
        let myDataTable = new RdataTB('myTable');
    </script>
</body>

</html>