<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No autorizado</title>
    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>


    <div class="container">
      <div class="d-flex flex-column alert alert-danger my-5 w-50 mx-auto text-center" role="alert">
        <h1><svg th:replace="fragments.html :: forbidden"></svg></h1>
        <h2 class="my-4"> No está autorizado a retirar este artículo.</h2>
      </div>
      <div class="d-flex justify-content-center" role="alert">
        <a th:href="@{/}" class="btn btn-primary btn-lg my-5 mx-auto">Inicio</a>
      </div>
    </div>

    <div th:replace="fragments.html :: footer"></div>


    <!--   Bootstrap js -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>

</html>