<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Usuario</title>
    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jquery.ml-keyboard.css" rel="stylesheet">
    <link href="/css/taquillas.css" rel="stylesheet">
</head>

<body>

    <header th:insert="fragments.html :: header"> </header>
    <div class="container">
        <form class="w-50 mx-auto my-3" method="post" action="#"
            th:action="${userForm.id!=0} ? @{/user/edit/submit} : @{/user/save}" th:object="${userForm}">
            <h3 th:text="${userForm.id!=0} ? 'Editar usuario' : 'Nuevo usuario' " class="text-center"></h3>
            <input type="number" class="form-control" id="id" th:field="*{id}" hidden=true>
            <div class="form-group my-3">
                <label class="form-label" for="nombre">Nombre</label> <input type="text" class="form-control"
                    id="nombre" th:field="*{name}">
            </div>
            <div class="form-group my-3">
                <label class="form-label" for="number">Número tarjeta</label>
                <div class="d-flex justify-content-between">
                    <input type="text" class="form-control" id="number" th:field="*{number}">
                    <button class="btn btn-warning mx-2" id="pasteText">
                        <svg th:replace="fragments.html :: clipboard"></svg>
                    </button>
                </div>
            </div>
            <div class="form-group my-3">
                <label class="form-label" for="role">Rol usuario</label> <select class="form-select" id="role"
                    th:field="*{roleId}">
                    <option th:each="role : ${rolesList}" th:value="${role.id}" th:text="${role.roleName}"></option>
                </select>
            </div>
            <div class="d-flex justify-content-end">
                <a th:href="@{/user/list}" class="btn btn-danger mx-2">Cancelar</a>
                <button type="submit" class="btn btn-primary mx-2">Enviar</button>
            </div>

        </form>


    </div>
    <br>
    <br>
    <br>
    <br>
    <div th:replace="fragments.html :: footer"></div>
    <!--   Bootstrap js -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public_scripts/jquery.ml-keyboard.min.js"></script>
    <script src="/public_scripts/keyboard_button.js"></script>
    <script>
        $("#pasteText").click((event) => {
            event.preventDefault();
            var pasteText = document.querySelector("#number");
            pasteText.focus();
            document.execCommand("paste");
            console.log(pasteText.textContent);
        });
    </script>
</body>

</html>