@font-face {
  font-family: taquillas;
  src: url(LeagueSpartan-Bold.otf);
}

body{
  font-family: taquillas, Helvetica, Arial, sans-serif;
  background-color: rgb(243, 243, 243);
}

.bg-red{
  background-color: #B73F36;
}
.bg-yellow{
  background-color: #F2C029;
}
.text-yellow{
  color:#F2C029;
}